:root {
    --main-bg-color: #ebebeb;
    --menu-box-menu-bg-color: rgba(94, 137, 169, 0.85);
    --menu-box-tickets-bg-color: #13b7ad;
    --page-level-one-color: #01315c;
    --page-level-two-color: #2a5a90;
    --page-level-three-color: #0164bd;
    --page-level-four-color: #13b7ad;
    --page-level-five-color: #ced7e5;
    --fest-box-tickets-bg-color: #41c1ab;
    --devs-footer-bg-color: #427469;
    --fest-footer-bg-color: #563175;
    --devs-footer-button-bg-color: #ffe890;
    --fest-footer-button-bg-color: #1766aa;
    --devs-footer-button-fg-color: #000;
    --fest-footer-button-fg-color: #fff;
    --devs-count-btn-bg-color: #ffe890;
    --fest-count-btn-bg-color: #1766aa;
    --header-color: #232323;
    --fest-count-btn-fg-color: #fff;
}

button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}

img {
    width: 45%;
    border-radius: 50%;
    margin-bottom: 10px;
}

body {
    font-size: 16px;
    padding: 0;
    line-height: 1em;
    font-family: Calibre, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    margin: 0;
    position: relative;
}

.main__header-canvas-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: inline-flex;
    background-color: whitesmoke;
}

.video-photo-container{
    opacity: 70%;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1;
    justify-content: center;
}

#conference-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1;
    border-radius: 0;
}

/* For video*/
.main__header-canvas-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main__header-center {
    display: block;
    box-sizing: border-box;
    margin: auto;
    font-style: normal;
    color: black;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    opacity: 100%;
}

#speakers-container{

}

.marquee-container {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: row !important;
    position: relative;
    background-color: lightgrey;
}

@keyframes marquee-animation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee {
    min-width: 100%;
    z-index: 1;
    display: flex;
    animation: marquee-animation 40s linear infinite;
    flex-direction: row !important;
    align-items: center;
    animation-play-state: running !important;
}

.marquee img {
    height: 15vh;
    width: 20vw;
    padding: 2vw;
}

.marquee-container:hover {
    animation-play-state: paused;
}

*, a, div, h1, h2, h3, h4, h5, h6, img, p, span {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-family: Calibre, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

