:root {
    --main-bg-color: #ebebeb;
    --menu-box-menu-bg-color: rgba(94, 137, 169, 0.85);
    --menu-box-tickets-bg-color: #13b7ad;
    --page-level-one-color: #01315c;
    --page-level-two-color: #2a5a90;
    --page-level-three-color: #0164bd;
    --page-level-four-color: #13b7ad;
    --page-level-five-color: #ced7e5;
    --fest-box-tickets-bg-color: #41c1ab;
    --devs-footer-bg-color: #427469;
    --fest-footer-bg-color: #563175;
    --devs-footer-button-bg-color: #ffe890;
    --fest-footer-button-bg-color: #1766aa;
    --devs-footer-button-fg-color: #000;
    --fest-footer-button-fg-color: #fff;
    --devs-count-btn-bg-color: #ffe890;
    --fest-count-btn-bg-color: #1766aa;
    --header-color: #232323;
    --fest-count-btn-fg-color: #fff;
}
header {
    height: 18vh;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    display: flex;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo img {
    height: 14vh;
}

/* Menü Linkleri */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #f1c40f; /* Sarı renk efekti */
}

/* Mobil Uyumluluk */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }
}
button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0; /* Slightly darker background on hover */
}

img {
    width: 45%;
    border-radius: 50%;
    margin-bottom: 10px;
}

body {
    font-size: 16px;
    padding: 0;
    line-height: 1em;
    font-family: Calibre, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    margin: 0;
    position: relative;
}

.main__header-canvas-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: inline-flex;
    background-color: whitesmoke;
}

.video-photo-container{
    opacity: 30%;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1;
    justify-content: center;
}

#conference-image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1;
    border-radius: 0;
}

/* For video*/
.main__header-canvas-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main__header-center {
    display: block;
    box-sizing: border-box;
    margin: auto;
    font-style: normal;
    color: black;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    opacity: 100%;
}

#speakers-container{

}

.partners__block.jsx-2659488190 {

    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.marquee-container {
    overflow-x: hidden !important;
    display: flex;
    flex-direction: row !important;
    position: relative;
    background-color: lightgrey;
}

@keyframes marquee-animation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee {
    min-width: 100%;
    z-index: 1;
    display: flex;
    animation: marquee-animation 40s linear infinite;
    flex-direction: row !important;
    align-items: center;
    animation-play-state: running !important;
}

.marquee img {
    height: 15vh;
    width: 20vw;
    padding: 2vw;
}

.marquee-container:hover {
    animation-play-state: paused;
}

*, a, div, h1, h2, h3, h4, h5, h6, img, p, span {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-family: Calibre, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

footer {
    unicode-bidi: isolate;
}

.footer__conferences.jsx-2563101321 {
    width: 100%;
    min-height: 900px;
    background-color: var(--page-level-three-color);
}

.footer__partners-and-socials.jsx-2563101321 {
    display: block;
    width: 100%;
    min-height: 600px;
    background-color: var(--page-level-two-color);
}

.footer__partners.jsx-2563101321 {
    display: block;
    padding: 40px 24px;
}

.partners.jsx-2096302040 {
    display: block;
}

.partners__title.jsx-2096302040 {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.partners__logos.jsx-2096302040 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.partners__logo.jsx-2096302040 {
    margin: 20px 15px;
    -webkit-transition: opacity 150ms ease-out;
    transition: opacity 150ms ease-out;
}
.footer__links-and-newsletter.jsx-2563101321 {
    display: block;
    padding: 5% 10%;
}
.newsletter__links__container.jsx-1564649870 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.links__subcontainer.jsx-1564649870 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 0 0 0;
}
.links__sub__column.jsx-1564649870 {
    display: block;
}
.links__sub__column.jsx-1564649870 a.jsx-1564649870 {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 40px 0;
}
.newsletter__subcontainer.jsx-1564649870 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.newsletter__links__info.jsx-1564649870 {
    width: 100%;
    text-align: left;
}
.newsletter__links__info__text__header.jsx-1564649870 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 40px 0 12px 0;
}
.newsletter__links__info__text.jsx-1564649870 {
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 0 12px 0;
}
.newsletter__container.jsx-3103933071 {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}
.empty__subcontainer.jsx-3103933071 {
    width: 100%;
    display: grid
;
    grid-template-columns: 50% 50%;
    padding: 0 0 0 0;
}

.newsletter__subcontainer.jsx-3103933071 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.mailchimp__container.jsx-3103933071 {
    display: block;
    width: 100%;
}
.newsletter__header.jsx-3103933071 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 40px 0 12px 0;
}
.mailchimp__form.jsx-3103933071 {
    display: inline-block;
    width: 100%;
    line-height: 56px;
    vertical-align: bottom;
}
.mailchimp__form__email.jsx-3103933071 {
    width: calc(100% - 150px);
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #5A5A5A;
    margin: 0;
    padding: 0 10px;
    vertical-align: bottom;
}