<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/about.css">
</head>

<body>

{% include 'header.html' %}

    <div class="container">
        <h1 id="title">Loading...</h1>

        <p><strong>Konferans Tarihi:</strong> <span id="conference-date">Loading...</span></p>
        <p><strong>Konferans Yeri:</strong> <span id="conference-location">Loading...</span></p>

        <!-- Video veya Fotoğraf Alanı -->
        <div id="video-container" style="display: none;">
            <video id="background-video" width="100%" height="auto" autoplay muted loop>
                <source id="video-source" />
            </video>
        </div>
        <img id="conference-image" src="" alt="Conference Image" style="display: none; width: 100%; height: auto;">

        <h2>Speakers</h2>
        <div id="speakers-container">
            <!-- Konuşmacılar burada dinamik olarak yüklenecek -->
        </div>

    </div>

{% include 'footer.html' %}

<script src="/static/js/about.js"></script>
</body>

</html>
