<header>
    <nav class="navbar">
        <div class="logo-and-title">
            <a href="{{ base_url }}/{{ conference_id }}" class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Historical_peninsula_and_modern_skyline_of_Istanbul.jpg/640px-Historical_peninsula_and_modern_skyline_of_Istanbul.jpg"
                     alt="Logo">
            </a>
            <span class="conference-title">AI SUMMIT 2025</span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ base_url }}/{{ conference_id }}/papers">Calender</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/speakers">Speakers</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/about">About</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/contact">Contact</a></li>
        </ul>
    </nav>
</header>
