<header>
    <nav class="navbar">
        <div class="logo-and-title">
            <a href="{{ base_url }}/{{ conference_id }}" class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Historical_peninsula_and_modern_skyline_of_Istanbul.jpg/640px-Historical_peninsula_and_modern_skyline_of_Istanbul.jpg"
                     alt="Logo">
            </a>
            <span id="conference-title-header" class="conference-title"></span>
        </div>
        <ul class="nav-links">
            <li><a href="{{ base_url }}/{{ conference_id }}/similarities">Similarities</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/papers">Calender</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/speakers">Speakers</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/about">About</a></li>
        </ul>
    </nav>
</header>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const conferenceId = window.location.pathname.split("/")[1]; // URL'den ID'yi al

    fetch(`/conferences/${conferenceId}`) // API endpointine istek at
        .then(response => response.json())
        .then(data => {
            if (data && data.Title) {
                document.getElementById("conference-title-header").textContent = data.Title;
            } else {
                document.getElementById("conference-title-header").textContent = "";
            }
        })
        .catch(error => {
            console.error("Konferans adı alınamadı:", error);
            document.getElementById("conference-title").textContent = "Conference";
        });
});
</script>