<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Data</title>
    <link rel="stylesheet" href="/static/mainPage.css">
</head>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/{{ conference_id }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Historical_peninsula_and_modern_skyline_of_Istanbul.jpg/640px-Historical_peninsula_and_modern_skyline_of_Istanbul.jpg"
                     alt="IDC Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/{{ conference_id }}/papers">Calender</a></li>
            <li><a href="/{{ conference_id }}/speakers">Speakers</a></li>
            <li><a href="/{{ conference_id }}/venue">Partners</a></li>
            <li><a href="/{{ conference_id }}/sponsors">About</a></li>
            <li><a href="/{{ conference_id }}/contact">Contact</a></li>
        </ul>
    </nav>
</header>
<body>

<div class="video-container">
    <div class="video-photo-container">
        <img id="conference-image" src="" alt="Conference Image">
        <video id="background-video" autoplay loop muted playsinline controls>
            <source id="video-source" src="" type="video/mp4">
        </video>
    </div>

    <div class="main__header-center">
        <span id="conference-title" class="main__header-title">Loading...</span><br>
        <span id="conference-date">Loading...</span><br>
        <span id="conference-location">Loading...</span>
    </div>
</div>

<div id="speakers-container">
    {% for speaker in speakers %}
        <button onclick="goToSpeaker({{ speaker.Id }})">
            {{ speaker.FirstName }} {{ speaker.LastName }}
        </button><br>
    {% endfor %}
</div>

<div>
    <div class="jsx-2659488190 partners__block">
        <div class="jsx-2659488190 partners__block__container">
            <div class=" marquee-container" style="--pause-on-hover: paused; --pause-on-click: running;">
                <div class="marquee">
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.vitecsoftware.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/65fb34255eddd22f8c3ff90eb4949422d2439bd5-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://www.elementlogic.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/909fc13f6ae16b182bfa0a6d1e58088021a69173-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://umbraco.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/750cb45c4414b88c1c69ea2258afdd08a65f4721-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://dnb.no"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/5cc491b10abb14773236507e19cb43e15fc8e892-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.bouvet.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/9cd9b22b9c7d4341b67c9102299b9f46a2cb195c-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://tina.io/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/75b94b90b3da9591f88c2a7235eb3217eec48785-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://particular.net/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/6fb4dbe244ccf715c9ad57c62f222efaca1ad3e5-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.fhi.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/3aeb2619fa3d39174ec807739b9ff556900f04b8-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.azul.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/af5393559781c3ecf9e164eed1bfe1bc8a3de6b3-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://elogit.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/9c3fe026d92bb00f56decb79dec3976c08f07cc9-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.stingray.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/654e76f2061acfbc70f7d405e0681a15a0cdc660-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://www.miljodirektoratet.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/670c308bffc4194ff85df6c45209510b2cbaf520-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.storyblok.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/df7c00abe0b42cfd61b0ee106668e6b44a6926f6-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://crayonconsulting.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/6903130f86f73c9eb52cf3661efa7e04d7b8152e-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.equinor.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/98a6dea16b4a5b20aa5851264c63a2bd0907ab12-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://www.textcontrol.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/5a492ac78b90c9d505f80b8608f3ff72a6a6d11c-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.nhn.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/2f260bad0d0c858572349da60f65620057142909-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://twoday.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/97819b2ef0a1b5a12aeff0a186a517c55b3771cf-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.norkart.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/8d588726abf00c3ac47108932d4fae467b5bab64-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.tietoevry.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/b71a41f15c9b96d824a211a3adbec24a3f968585-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.kongsberg.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/1113f572e53d039b87ffc3323e2f7872896b7d79-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://duendesoftware.com/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/03d8ea7d7268e0b22b383509cba1fe4fa73da433-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://hadrian.io/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/6b4cdc7392e6382b22c96ae864715a89d2ac12c8-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.aikido.dev/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/5c5a577dcfdb2f14ad42368166c2aacb9beac298-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.elastic.co/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/8a99e7ea328f45b7be5b1845b8a2dac5d4877684-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190"
                                                           href="https://www.norgesgruppen.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/0f0cd8cfa91f485ae5a1e80f60a379d248e6e279-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.itera.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/1e74302bd1ea343bd36ce3ab437cb6fc432e073b-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://owasp.org/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/3ab4af16dde204a9737743a614eac04da01e8661-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.cegal.com/en/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/5fbf8cf81266a4b675ce1dfe1cea17172e3302e6-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://ravendb.net/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/0d9c24f6b8a06411dc54b7ece10cea9d0ddeff70-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.systek.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/2f92683e154e176aedd0d0446242313c90935d8e-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.miles.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/74602e555758f2c13bac6fafba1600aee2c2ee90-600x280.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                    <div class="jsx-2659488190 partner"><a class="jsx-2659488190" href="https://www.webstep.no/"><img
                            src="https://cdn.sanity.io/images/fhoo4r9z/production/1b1c2ae0732a206631443d8433bb9cfcd39443d6-300x140.png?w=240&amp;h=112"
                            class="jsx-2659488190"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="jsx-2563101321 footer__container">
    <div class="jsx-2563101321 footer__partners-and-socials">
        <div class="jsx-2563101321 footer__partners">
            <div class="jsx-2096302040 partners"><h4 class="jsx-2096302040 partners__title"><span
                    class="jsx-2096302040 partners__title-bold">Our&nbsp;</span>Partners and Exhibitors</h4>
                <div class="jsx-2096302040 partners__logos"><a href="https://www.aikido.dev/" target="_blank"
                                                               rel="noopener" class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/5c5a577dcfdb2f14ad42368166c2aacb9beac298-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.azul.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/c101b94018601daaa3dc570eb9fa3b51d292cc4e-601x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.bouvet.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/9cd9b22b9c7d4341b67c9102299b9f46a2cb195c-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.cegal.com/en/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/5fbf8cf81266a4b675ce1dfe1cea17172e3302e6-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://crayonconsulting.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/6903130f86f73c9eb52cf3661efa7e04d7b8152e-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://dnb.no" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/5cc491b10abb14773236507e19cb43e15fc8e892-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://duendesoftware.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/03d8ea7d7268e0b22b383509cba1fe4fa73da433-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://elogit.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/9c3fe026d92bb00f56decb79dec3976c08f07cc9-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.elastic.co/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/0120c3d0d73985a598d14212b122acd07a6bea53-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.elementlogic.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/909fc13f6ae16b182bfa0a6d1e58088021a69173-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.equinor.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/98a6dea16b4a5b20aa5851264c63a2bd0907ab12-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.fhi.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/3aeb2619fa3d39174ec807739b9ff556900f04b8-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://hadrian.io/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/6b4cdc7392e6382b22c96ae864715a89d2ac12c8-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.itera.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/1e74302bd1ea343bd36ce3ab437cb6fc432e073b-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.kongsberg.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/1113f572e53d039b87ffc3323e2f7872896b7d79-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.miles.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/74602e555758f2c13bac6fafba1600aee2c2ee90-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.miljodirektoratet.no/" target="_blank"
                                                      rel="noopener" class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/670c308bffc4194ff85df6c45209510b2cbaf520-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.norgesgruppen.no/" target="_blank"
                                                      rel="noopener" class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/0f0cd8cfa91f485ae5a1e80f60a379d248e6e279-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.norkart.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/8d588726abf00c3ac47108932d4fae467b5bab64-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.nhn.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/2f260bad0d0c858572349da60f65620057142909-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://owasp.org/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/3ab4af16dde204a9737743a614eac04da01e8661-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://particular.net/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/6fb4dbe244ccf715c9ad57c62f222efaca1ad3e5-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://ravendb.net/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/0d9c24f6b8a06411dc54b7ece10cea9d0ddeff70-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.stingray.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/654e76f2061acfbc70f7d405e0681a15a0cdc660-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.storyblok.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/df7c00abe0b42cfd61b0ee106668e6b44a6926f6-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.systek.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/2f92683e154e176aedd0d0446242313c90935d8e-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.textcontrol.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/5a492ac78b90c9d505f80b8608f3ff72a6a6d11c-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.tietoevry.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/b71a41f15c9b96d824a211a3adbec24a3f968585-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://tina.io/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/136d3291268bbfd014f1820d7a97b6903ebaef3c-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://twoday.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/97819b2ef0a1b5a12aeff0a186a517c55b3771cf-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://umbraco.com/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/750cb45c4414b88c1c69ea2258afdd08a65f4721-600x280.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.vitecsoftware.com/" target="_blank"
                                                      rel="noopener" class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/65fb34255eddd22f8c3ff90eb4949422d2439bd5-300x140.png?w=300"
                        class="jsx-2096302040"></a><a href="https://www.webstep.no/" target="_blank" rel="noopener"
                                                      class="jsx-2096302040 partners__logo"><img
                        src="https://cdn.sanity.io/images/fhoo4r9z/production/1b1c2ae0732a206631443d8433bb9cfcd39443d6-300x140.png?w=300"
                        class="jsx-2096302040"></a></div>
                <hr class="jsx-2096302040 partners__line">
            </div>
        </div>
        <div class="jsx-2563101321 footer__links-and-newsletter">
            <div class="jsx-1564649870 newsletter__links__container">
                <div class="jsx-1564649870 links__subcontainer">
                    <div class="jsx-1564649870 links__sub__column"><a href="" class="jsx-1564649870">Tickets</a><a
                            href="" class="jsx-1564649870">About</a><a href="" class="jsx-1564649870">Code of
                        Conduct</a><a href="" class="jsx-1564649870">FAQ</a></div>
                    <div class="jsx-1564649870 links__sub__column"><a href="" class="jsx-1564649870">Privacy
                        Policy</a><a href="" class="jsx-1564649870">Partnerships</a><a href="" class="jsx-1564649870">Venue</a>
                    </div>
                </div>
                <div class="jsx-1564649870 newsletter__subcontainer">
                    <div class="jsx-1564649870 newsletter__links__info">
                        <div class="jsx-1564649870 newsletter__links__info__text__header">NDC Conferences AS</div>
                        <div class="jsx-1564649870 newsletter__links__info__text">Skippergata 17a <br
                                class="jsx-1564649870">0152 Oslo, Norway
                        </div>
                        <div class="jsx-1564649870 newsletter__links__info__text"> info@ndcconferences.com</div>
                        <div class="jsx-1564649870 newsletter__links__info__text">MVA: 963201141</div>
                    </div>
                </div>
            </div>
            <div class="jsx-3103933071 newsletter__container">
                <div class="jsx-3103933071 empty__subcontainer">&nbsp;</div>
                <div class="jsx-3103933071 newsletter__subcontainer">
                    <div class="jsx-3103933071 mailchimp__container">
                        <div class="jsx-3103933071 newsletter__header">Sign up for newsletter</div>
                        <div class="jsx-3103933071">
                            <form class="jsx-3103933071 mailchimp__form" data-hs-cf-bound="true"><input
                                    placeholder="Email ..." name="EMAIL" id="mce-EMAIL" required=""
                                    class="jsx-3103933071 mailchimp__form__email" value=""><input type="submit"
                                                                                                  name="subscribe"
                                                                                                  id="mc-embedded-subscribe"
                                                                                                  class="jsx-3103933071 mailchimp__form__submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/static/mainPage.js"></script>
</body>
</html>