<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mainPage.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
{% include 'header.html' %}

<div class="video-container">
    <div class="video-photo-container">
        <img id="conference-image" src="" alt="Conference Image">
        <video id="background-video" autoplay loop muted playsinline controls>
            <source id="video-source" src="" type="video/mp4">
        </video>
    </div>

    <div class="main__header-center">
        <span id="conference-title" class="main__header-title">Loading...</span><br>
        <span id="conference-date">Loading...</span><br>
        <span id="conference-location">Loading...</span>
    </div>
</div>

<div class="container">
    <div id="speakers-container" class="speakers-wrapper">
        <div class="speaker-card-container">
            {% for speaker in speakers %}
            <div class="speaker-card">
                <div class="avatar-placeholder">
                    <span>{{ speaker.FirstName[0] }}{{ speaker.LastName[0] }}</span>
                </div>
                <div class="speaker-info">
                    <h3>{{ speaker.FirstName }} {{ speaker.LastName }}</h3>
                    <button onclick="goToSpeaker({{ speaker.Id }}, {{ conference_id }})">View Profile</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'footer.html' %}

<script src="/static/js/mainPage.js"></script>
</body>
</html>