<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/papers.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>

{% include 'header.html' %}

<div class="container">
    <h2>Calender</h2>
    <table>
        <thead>
            <tr>
                <th>Paper Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Similar Papers</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

{% include 'footer.html' %}

<script>
    const conferenceId = {{ conference_id }};
</script>
<script src="/static/js/papers.js"></script>

</body>
</html>
