<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mainPage.css">
    <link rel="stylesheet" href="/static/css/papers.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <a href="{{ base_url }}/{{ conference_id }}">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Historical_peninsula_and_modern_skyline_of_Istanbul.jpg/640px-Historical_peninsula_and_modern_skyline_of_Istanbul.jpg"
                     alt="Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ base_url }}/{{ conference_id }}/papers">Calender</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/speakers">Speakers</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/partners">Partners</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/about">About</a></li>
            <li><a href="{{ base_url }}/{{ conference_id }}/contact">Contact</a></li>
        </ul>
    </nav>
</header>

<h1>{{ title }}</h1>
<h3>Conference ID: {{ conference_id }}</h3>

<h2>Calendar of Paper Similarity Events</h2>
<table border="1">
    <thead>
    <tr>
        <th>Event Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Similar Papers</th>
    </tr>
    </thead>
    <tbody>
    {% for event in events %}
        <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.start_date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>{{ event.end_date.strftime('%Y-%m-%d %H:%M') }}</td>
            <td>
                <ul>
                    {% for similar_paper in event.similar_papers %}
                        <li>{{ similar_paper.title }} (Similarity: {{ similar_paper.similarity_score }})</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script src="/static/js/about.js"></script>
</body>
</html>
